# Auto detect text files and perform LF normalization
* text=auto

# These files are MEX compiled binary files and should be left untouched
# (binary is a macro for -text -diff)
*.mexw32 binary
*.mexw64 binary
*.mexa64 binary
*.mexmaci64 binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
